.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App .btn {
  background-color: green;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font: inherit;
  color: white;
  transition-duration: 0.4s;
}

.App .btn:hover {
  background-color: lightgreen;
}

.App .btn.red {
  background-color: red;
}

.App .btn.red:hover {
  background-color: salmon;
}